<div id="tasks" class="{{ divSize }} list-group">
    <div class="zero-clipboard"><span ng-click="reloadServices()" class="btn-clipboard glyphicon glyphicon-refresh"></span></div>
    <li class="list-group-item">
        <h4><span class="glyphicon glyphicon-tasks"></span> Tasks <span ng-show="tasks.length > 0">{{ remaining() }} / {{ tasks.length }}</span></h4>
    </li>
    <li class="list-group-item">
        <div class="input-group input-group-sm">
            <div class="input-group-btn">
                <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">Order <span class="caret"></span></button>
                <ul class="dropdown-menu" role="menu">
                    <li><a ng-click="orderBy('name','tasks')" href="javascript:void(0)">By Name</a></li>
                    <li><a ng-click="orderBy('created_at','tasks')" href="javascript:void(0)">By Date</a></li>
                    <li><a ng-click="orderBy('completed','tasks')" href="javascript:void(0)">By Completed</a></li>
                    <li><a ng-click="orderBy('completed','tasks')" href="javascript:void(0)">By Incompleted</a></li>
                </ul>
            </div>
            <input type="search" class="form-control" placeholder="Search" ng-model="tasksFilter">
            <div class="input-group-btn">
                <button title="Remove all completed Task" ng-click="deleteTasksComplete()" type="button" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span></button>
            </div>
        </div>
    </li>
    <li class="list-group-item">
        <input ng-keypress="addTask($event, newTaskName)" ng-model="newTaskName" type="search" class="form-control input-sm" placeholder="Add a task" autofocus>
    </li>
    <a class="list-group-item {{ task.completed ? 'completed' : 'incompleted' }}" ng-repeat="task in tasks | orderBy:'orderTasks' | filter:tasksFilter" ng-animate="{enter: 'animate-enter', leave: 'animate-leave'}">
        <div class="input-group input-group-sm input-resposign">
            <div class="input-group input-group-sm">
                <input ng-keypress="updateTask($event,task, renameTaskName)" ng-model="renameTaskName" type="search" class="form-control input-sm" placeholder="{{ task.name }}">
                <span class="input-group-btn">
                    <button title="Remove Task" ng-click="deleteTask(task)" class="btn btn-danger" type="button"><span class="glyphicon glyphicon-trash"></span></button>
                    <button ng-animate="'highlight'" title="View all Tickets" ng-click="listTickets(task)" class="btn btn-info" type="button"><span class="glyphicon glyphicon-chevron-right"></span></button>                            
                </span>
            </div>
        </div>
        <span class="help-block">{{ task.created_at | date:'fullDate' }}</span>
    </a>
</div>
<div id="items" class="col-md-6" ng-show="visible_tickets">
    <li class="list-group-item">
        <button type="button" class="close" ng-click="hideTickets()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4><span class="glyphicon glyphicon-list"></span> {{ current_task.name }}</h4>
    </li>
    <li class="list-group-item">
        <div class="input-group input-group-sm">
            <div class="input-group-btn">
                <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">Order <span class="caret"></span></button>
                <ul class="dropdown-menu" role="menu">
                    <li><a ng-click="orderBy('description','tickets')" href="javascript:void(0)">By Description</a></li>
                    <li><a ng-click="orderBy('created_at','tickets')" href="javascript:void(0)">By Date</a></li>
                    <li><a ng-click="orderBy('completed','tickets')" href="javascript:void(0)">By Completed</a></li>
                    <li><a ng-click="orderBy('completed','tickets')" href="javascript:void(0)">By Incompleted</a></li>
                </ul>
            </div>
            <input type="search" class="form-control not-border" placeholder="Search" ng-model="ticketsFilter">
            <div class="input-group-btn">
                <button title="Remove all completed Tickets" ng-click="deleteTicketsComplete()" type="button" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span></button>
            </div>
        </div>
    </li>
    <li class="list-group-item">
        <input ng-keypress="addTicket($event, newTicketDescription)" ng-model="newTicketDescription" type="search" class="form-control not-border input-sm" placeholder="Add a item">
    </li>
    <li ng-show="tasks.length > 0" class="list-group-item">
        <div class="progress">
            <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="2" aria-valuemin="0" aria-valuemax="100" style="width: {{ percentage() }}%">
                {{ percentage() }}%
            </div>
        </div>
    </li>
    <li class="list-group-item" ng-repeat="ticket in tickets | orderBy: orderTicktes | filter:ticketsFilter">
        <div class="input-group input-group-sm">
            <span class="input-group-addon">
                <input ng-checked="{{ ticket.completed }}" ng-click="updateStateTicket(ticket)" type="checkbox">
            </span>
            <!-- <div class="btn-group btn-group-sm" data-toggle="buttons">
                <label class="btn btn-primary"><input type="checkbox"> Option 2</label>
            </div> -->
            <input ng-keypress="updateTicket($event, ticket, renameTicketName)" ng-model="renameTicketName" type="search" class="form-control" placeholder="{{ ticket.description }}">
            <span class="input-group-btn">
                <button title="Remove Ticket" ng-click="deleteTicket(ticket)" class="btn btn-danger" type="button"><span class="glyphicon glyphicon-trash"></span></button>
            </span>
        </div>
    </li>
</div>