/* DOM */
body {
	background-color: rgb(35, 113, 159);
	color: #fff;
}

/* ID's */

#users, #tasks {
	box-shadow: none;
	color: #000;
}

#users p, #tasks p {
	margin: 0;
}

#users input, #tasks input, #items .not-border {
	border: none;
	width: 100%;
}

/* Class */

.list-group-item {
	padding: 5px 7px;
}

.input-resposign {
	width: 100%;
}

.input-group-btn>.btn {
	height: 34px;
}

.progress {
 	margin-bottom: 0;
}

.list-group-item h4 {
	color: #000;
}

.color-white {
	color:#fff;
}

a.list-group-item.completed {
	border-left-color: #5cb85c;
	border-left-width: 5px;
}

a.list-group-item.incompleted {
	border-left-color: #fff;
	border-left-width: 5px;
}

#tasks .list-group-item:nth-child(2)  {
	border-top-right-radius: 4px;
	border-top-left-radius: 4px;
}

.zero-clipboard {
	position: relative;
	display: none;
}

@media (min-width: 250px){
	.zero-clipboard {
		display: block;
	}
}

.btn-clipboard {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 10;
	padding: 5px 8px;
	cursor: pointer;
	border: 1px solid #e1e1e8;
	border-radius: 0 4px 0 4px;
}

.btn-clipboard:hover {
	color: #fff;
	background-color: #f0ad4e;
	border-color: #eea236;
}

a.list-group-item.incompleted:hover, a.list-group-item.incompleted:focus {
	border-left-color: #f5f5f5;
}

/*input.ng-dirty.ng-invalid {
	border-color: #7C0023;
	outline: 0;
	outline: thin dotted \9;
	-webkit-box-shadow: 0 0 8px #c7254e;
	box-shadow: 0 0 8px #c7254e;
}*/

/* Style by Search Input */

input[type="search"] {
	-webkit-appearance: searchfield;
}

input[type="search"]::-webkit-search-cancel-button {
	-webkit-appearance: searchfield-cancel-button;
}

/* Animated */
.highlight-enter {
    -webkit-animation: highlight 1s cubic-bezier(0.1, 1.0, 0.7, 0.2) infinite alternate;
    animation: highlight 1s cubic-bezier(0.1, 1.0, 0.7, 0.2) infinite alternate;
}

@-webkit-keyframes highlight {
    from {
      	padding-left: 100%;
    }
    to {
      	padding-left: 0;
    }
}
  
@keyframes highlight {
    from {
		padding-left: 100%;
    }
    to {
      	padding-left: 0;
    }
}



.animate-enter, 
.animate-leave
{ 
    -webkit-transition: 450ms cubic-bezier(0.420, 0.000, 1.000, 1.000) all;
    -moz-transition: 450ms cubic-bezier(0.420, 0.000, 1.000, 1.000) all;
    -ms-transition: 450ms cubic-bezier(0.420, 0.000, 1.000, 1.000) all;
    -o-transition: 450ms cubic-bezier(0.420, 0.000, 1.000, 1.000) all;
    transition: 450ms cubic-bezier(0.420, 0.000, 1.000, 1.000) all;
    position: relative;
    display: block;
    overflow: hidden;
    text-overflow: clip;
    white-space:nowrap;
} 
 
.animate-leave.animate-leave-active,
.animate-enter {
    opacity: 0;
    width: 0px;
    height: 0px;
}
 
.animate-enter.animate-enter-active, 
.animate-leave {
    opacity: 1;
    width: 150px;
    height: 30px;
}